<%= div_for comment do %>
<hr class="show_hr">
<div id="comment_author_section">
	<%= image_tag comment.user.image_url(:avatar), id: "comment_author_avatar" %>
	<p id="comment_author">
		<%= comment.user.username %>
	</p>
</div>
		<div id="comment_body"><%= raw comment.body %></div>
		<p id="comment_posted_at">Posted <%= time_ago_in_words(comment.created_at) %> ago</p>
<% end %>