<div id="signup" slide-from-right layout flex horizontal center-justified>
  <%= form_for(@user, remote: true) do |f| %>

    <div class="field" layout flex horizontal center-justified>
      <%= f.text_field :username, :id => "username_field", :placeholder => "Username" %>
    </div>

    <div class="field" layout flex horizontal center-justified>
      <%= f.text_field :email, :id => "email_field", :placeholder => "Email" %>
    </div>

    <div class="field" layout flex horizontal center-justified>
      <%= f.password_field :password, :id => "password_field", :placeholder => "Password" %>
    </div>

    <div class="field" layout flex horizontal center-justified>
      <%= f.password_field :password_confirmation, :id => "confirm_field", :placeholder => "Confirm Password" %>
    </div>

    <div center-justified layout horizontal style="margin-top: 14px;">
      <input id="submit_signup" name="commit" type="submit" value="SIGN UP">
    </div>


    <% if @user.errors.any? %>
      <div id="signup_errors" class="animated fadeInDown" layout horizontal center-justified>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div id="ajax_errors"></div>
  <% end %>
</div>