<div id="signup" class="layout horizontal center-justified">
  <%= form_for(User.new, remote: true) do |f| %>

  <paper-input-container id="new-user-username">
    <%= f.label :username %>
    <%= f.text_field :username, is: 'iron-input' %>
    <paper-input-error></paper-input-error>
  </paper-input-container>

  <paper-input-container id="new-user-email">
    <%= f.label :email %>
    <%= f.text_field :email, is: 'iron-input' %>
    <paper-input-error></paper-input-error>
  </paper-input-container>

  <paper-input-container id="new-user-password">
    <%= f.label :password %>
    <%= f.password_field :password, is: 'iron-input' %>
    <paper-input-error></paper-input-error>
  </paper-input-container>

  <paper-input-container id="new-user-password-confirm">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, is: 'iron-input' %>
    <paper-input-error></paper-input-error>
  </paper-input-container>

  <div class="center-justified layout horizontal" style="margin-top:15px;">
    <paper-button><%= f.submit "Sign Up", id: "submit_signup" %></paper-button>
  </div>

  <% end %>
</div>