<div class="flex layout horizontal">
	<% if @user.image_url == nil %>
		<div id="profile-avatar" style="background-image: url('<%= image_url 'default_pic.png' %>');">
	<% else %>
		<div id="profile-avatar" style="background-image: url('<%= @user.image_url(:avatar) %>');">
	<% end %>
			<div id="avatar-overaly-text" class="layout vertical">
				<span id="avatar_upload_link" class="layout horizontal center" style="height:100%;">Upload your profile image</span>
			</div>
	</div>
</div>

<%= form_for(@user) do |f| %>
    <%= f.file_field :image, id: "avatar_upload_field", hidden: "" %>
<% end %>

<h1 id="user_name">
	<%=  @user.username %>
</h1>

<h2 id="join_date">Joined on: <%=  @user.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %e, %Y") %></h2>

<% if @user.administrator %>
	<div class="layout horizontal center-center" style="width:100%;">
		<paper-button class="manage_users_posts_link layout vertical center-center" id="manage_button_1">Users</paper-button>
		<span class="flex pipe">|</span>
		<paper-button class="<%= @user.id %> layout vertical center-center" id="edit_user_button">Change Password</paper-button>

	</div>
<% else %>
	<paper-button class="<%= @user.id %> layout vertical center-center" id="edit_user_button" style="width:100%;">Change Password</paper-button>
<% end %>