<% if notice %>
	<paper-toast id="toast1" class="capsule" text="<%= notice %>" style="padding-right: 60px;" duration="10000" opened responsiveWidth="300px"></paper-toast>
<% end %>
	
<div id="users_profile_image_container" flex layout horizontal>
	<div id="tempcheck">
		<%= image_tag User.find_by_id(session[:user_id]).image_url(:avatar), id: "profile_image" %>
		<div id="text">
			<%= render "users/avatar"%>
		</div>
	</div>
</div>

<div id="user_name">
	<%=  User.find_by_id(session[:user_id]).username %>
</div>

<div id="join_date">Joined on: <%=  User.find_by_id(session[:user_id]).created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %e, %Y") %></div>

<% if User.find_by_id(session[:user_id]).administrator %>
	<span class="log_out_in" layout horizontal flex end-justified center>
		<p class="manage_users_posts_link" id="manage_button_1" layout flex>Manage Users</p>/
		<p class="manage_users_posts_link" id="manage_button_2" layout flex>Manage Posts</p>
	</span>
	<paper-button layout flex horizontal center-justified id="edit_user_button" onclick="document.location='<%= edit_user_path(User.find_by_id(session[:user_id])) %>'">Edit</paper-button>
<% else %>
	<paper-button layout flex horizontal center-justified id="edit_user_button2" onclick="document.location='<%= edit_user_path(User.find_by_id(session[:user_id])) %>'" label="change Password"></paper-button>
<% end %>
<script>
	$("#tempcheck").hover(function() { 
		$('#text').stop(true, true).fadeIn(); 
		}, function() { 
		$('#text').stop(true, true).fadeOut(); 
	});
</script>