<% content_for :title, "Change Your Password" %>

<div class="layout horizontal center-center" style="height:100%;">
	<paper-material class="user-container">
		<h1 class='layout horizontal flex center-justified' style="font-size: 29px;">Change Password</h1>

		<%= form_for(@user, remote: true) do |f| %>
			<paper-input-container id="edit-user-password">
				<%= f.label :password %>
				<%= f.password_field :password, is: 'iron-input' %>
				<paper-input-error></paper-input-error>
			</paper-input-container>

			<paper-input-container id="edit-user-password-confirm">
				<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation, is: 'iron-input' %>
				<paper-input-error></paper-input-error>
			</paper-input-container>

			<% if @session_user.administrator %>
				<div class="layout horizontal admin-edit">
					<div class="flex">Administrator: </div>
					<paper-checkbox checked id="paper_admin_toggle" ></paper-checkbox>
				</div>
				<%= f.check_box :administrator, id: "invisible_admin_toggle", hidden: "" %>
			<% end %>

			<br><br>
			<div class="end-justified layout horizontal">
				<paper-button id="cancel-form">Cancel</paper-button>
				<paper-button><%= f.submit 'Submit', id: 'submit_signup' %></paper-button>
			</div>
			
		<% end %>
	</paper-material>
</div>