<h1>Listing users</h1>

<table>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><% if user.administrator %>
            <core-icon icon="done"></core-icon>
        <% else %>
            <core-icon icon="clear"></core-icon>
        <% end %></td>
        <td><%= link_to  user.username, user %></td>
        <td><paper-icon-button icon="create" center-justified center size="27" onclick="document.location='<%= edit_user_path(user) %>"></paper-icon-button></td>
        <td><%= link_to 'Destroy', user, method: :delete, id: 'delete_user', data: { confirm: 'Are you sure?' } %>

        <paper-icon-button icon="delete" center-justified center size="27" onclick="document.location='<%= delete_user_path(user) %>"\></paper-icon-button>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id="new_user_button_container">
  <paper-fab icon="add" onclick="document.location='<%= new_user_path %>'" style="color:#eeff41; fill:#757575;"></paper-fab>
</div>

<style>

#delete_user{
  display: block;
}
</style>

<script>
function clickDelete() {
  $('#delete_user').click();
}
</script>