<% content_for :title, "Users" %>

<div class="layout horizontal center-center" style="height:100%;overflow-y:hidden;">
	<paper-icon-button icon="arrow-back" class="back-button"></paper-icon-button>

	<paper-material class="user-container">
		<h1 class='layout horizontal flex center-justified' >Accounts</h1>

		<table class="layout horizontal center-center">
			<tr id="user_headers"><th>Username</th><th>Admin</th><th>Delete</th></tr>

			<% @users.each do |user| %>
				<tr>
					<td id="username_col"><%= user.username %></td>

					<td class="layout horizontal flex center-justified">
						<%= form_for(user, remote: true) do |f| %>
							<%= f.check_box :administrator, class: "toggle_user_admin", hidden: "" %>
							<paper-checkbox <%= "checked" if user.administrator %> class="users-admin-toggle layout vertical center-center" ></paper-checkbox>
						<% end %>
					</td>
					
					<td>
						<%= link_to 'Destroy', user, method: :delete, hidden: "", data: { confirm: 'Are you sure?' } %>
						<paper-icon-button icon="delete" class="layout horizontal center-center delete-user-button"></paper-icon-button>
					</td>
				</tr>
			<% end %>
		</table>
	</paper-material>
</div>

<div id="notice">
    <paper-toast id="notice-toast" text="<%= notice %>" style="z-index: 13;" class="fit-bottom layout horizontal center-center"></paper-toast>
</div>