<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <input class="new_post_form_text" id="post_title" name="post[title]" placeholder="Title..." type="text">
    <!-- <paper-input label="title" floatingLabel id="post_title" name="post[title]" type="text"></paper-input> -->
    
  <div class="field">
    <%= f.text_field :author, :class => "new_post_form_text", :placeholder => "Author..." %>
  </div>
  <div class="field">
    <div class="image_field">
    <%= f.file_field :image, :class => "new_post_form_file" %>
    </div>
  </div>
  <div class="field">
    <%= f.text_field :altattr, :class => "new_post_form_text", :placeholder => "Alt..." %>
  </div>
  <div class="field">
    <%= f.label :status, 'Active: ' %>
    <%= f.check_box :status, :class => "new_post_form_text" %>
  </div>
  <div class="field">
    <div class="redactor_field">
    <%= f.text_area :content, :class => "redactor", :rows => 40, :cols => 120 %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :class => "create_post_button", :id => "create_post_button" %>
  </div>
<% end %>
