<%= form_for(@post) do |f| %>
	<paper-input-container id="form-post-title">
		<%= f.label :title %>
		<%= f.text_field :title, is: 'iron-input' %>
		<paper-input-error></paper-input-error>
	</paper-input-container>

	<div class="layout horizontal center-center">
		<%= f.file_field :image, id: "post_hero_input" %>
	</div>

	<div style="max-width:750px;margin:auto;">
		<%= f.text_area :content,  id: "edit" %>
	</div>

	<div class="layout horizontal flex center-justified" style="margin-top:25px;">
		<paper-button><%= f.submit 'Submit', id: 'submit_post' %></paper-button>
	</div>

	<script type="text/javascript">
		$('#edit').editable({
		  inlineMode: false,
		  spellcheck: true,
		  countCharacters: false,
		  fileUploadURL: '/media_manager/file_upload.json',
		  fileUploadParams: {
			authenticity_token: '<%= form_authenticity_token %>'
		  },
		  imagesLoadURL: '/media_manager/retrieve.json',
		  imageDeleteURL: '/media_manager/delete',
		  imageDeleteParams: {
			authenticity_token: '<%= form_authenticity_token %>'
		  },
		  imageUploadToS3: {
		    bucket: '<%= @hash[:bucket] %>',
		    region: 's3',
		    keyStart: '<%= @hash[:key_start] %>',
		    callback: function (url, key) {
		      // The URL and Key returned from Amazon.
		      console.log (url);
		      console.log (key);
		    },
		    params: {
		       acl: '<%= @hash[:acl] %>', // ACL according to Amazon Documentation.
	                   AWSAccessKeyId: '<%= @hash[:access_key] %>', // Access Key from Amazon.
		      policy: '<%= @hash[:policy] %>', // Policy string computed in the backend.
		      signature: '<%= @hash[:signature] %>', // Signature computed in the backend.
            		    }
		  },
  		buttons: ['bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'sep', 'fontFamily', 'fontSize', 'color', 'formatBlock', 'blockStyle', 'align', 'sep', 'insertOrderedList', 'insertUnorderedList', 'outdent', 'indent', 'insertHorizontalRule', 'sep', 'createLink', 'insertImage', 'insertVideo', 'uploadFile', 'table', 'sep', 'undo', 'redo', 'selectAll', 'removeFormat', 'html'],
		  icons: {
		    bold: {
		      type: 'font',
		      value: 'mdi mdi-format-bold'
		    },
		    italic: {
		      type: 'font',
		      value: 'mdi mdi-format-italic'
		    },
		    underline: {
		      type: 'font',
		      value: 'mdi mdi-format-underline'
		    },
		    strikeThrough: {
		      type: 'font',
		      value: 'mdi mdi-format-strikethrough'
		    },
		    fontSize: {
		      type: 'font',
		      value: 'mdi mdi-format-size'
		    },
		    color: {
		      type: 'font',
		      value: 'mdi mdi-format-paint'
		    },
		    formatBlock: {
		      type: 'font',
		      value: 'mdi mdi-format-paragraph'
		    },
		    insertOrderedList: {
		      type: 'font',
		      value: 'mdi mdi-format-list-numbers'
		    },
		    insertUnorderedList: {
		      type: 'font',
		      value: 'mdi mdi-format-list-bulleted'
		    },
		    outdent: {
		      type: 'font',
		      value: 'mdi mdi-format-indent-decrease'
		    },
		    indent: {
		      type: 'font',
		      value: 'mdi mdi-format-indent-increase'
		    },
		    createLink: {
		      type: 'font',
		      value: 'mdi mdi-link'
		    },
		    insertImage: {
		      type: 'font',
		      value: 'mdi mdi-file-image-box'
		    },
		    insertVideo: {
		      type: 'font',
		      value: 'mdi mdi-video'
		    },
		    table: {
		      type: 'font',
		      value: 'mdi mdi-table'
		    },
		    undo: {
		      type: 'font',
		      value: 'mdi mdi-undo'
		    },
		    redo: {
		      type: 'font',
		      value: 'mdi mdi-redo'
		    },
		    html: {
		      type: 'font',
		      value: 'mdi mdi-language-html5'
		    },
		    fontFamily: {
		      type: 'font',
		      value: 'zmdi zmdi-text-format'
		    },
		    subscript: {
		      type: 'font',
		      value: 'mdi mdi-format-subscript'
		    },
		    superscript: {
		      type: 'font',
		      value: 'mdi mdi-format-superscript'
		    },
		    uploadFile: {
		      type: 'font',
		      value: 'mdi mdi-file'
		    },
		    selectAll: {
		      type: 'font',
		      value: 'mdi mdi-select-all'
		    },
		    removeFormat: {
		      type: 'font',
		      value: 'mdi mdi-format-clear'
		    }
		  }
		});
	</script>
<% end %>
