<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :title, id: "post_title_input_invis" %>
  
  <div layout horizontal flex center-justified>
    <paper-input floatingLabel label="Title" id="post_title_input"></paper-input>
  </div>

  <div layout horizontal flex center-justified>
    <%= f.file_field :image, id: "post_hero_input" %>
  </div>

  <div class="field">
    <div class="redactor_field">
      <%= f.text_area :content, :class => "redactor", :rows => 40, :cols => 120 %>
    </div>
  </div>

  <div layout horizontal flex center-justified>
    <%= f.submit 'Submit', id: "create_post_button_invis" %>
    <paper-button label="submit" id="create_post_button" raisedButton></paper-button>
  </div>
<% end %>