    <div class="<%= nm =cycle('hero','mini_hero','mini_hero_2','long_hero','hero_2','mini_hero_3','mini_hero_4','mini_hero_5','mini_hero_6','mini_hero_7','mini_hero_8','long_hero_2','mini_hero_9','mini_hero_10','hero_3','mini_hero_11','mini_hero_12','mini_hero_13','mini_hero_14','hero_4','mini_hero_15','mini_hero_16', name: 'box') %> post" id="post_<%= post.id %>" vertical layout>
      <% if ((nm == 'long_hero') || (nm == 'long_hero_2')) %>
        <div class="innerds" style="background-image: url('<%= post.image_url(:long_headline) %>');" vertical layout flex hero-id="punch-<%= post.id %>" hero><paper-shadow z="2">
      <% else %>
        <div class="innerds" style="background-image: url('<%= post.image_url(:headline) %>');" vertical layout flex hero-id="punch-<%= post.id %>" hero><paper-shadow z="2">
      <% end %>

        <div class="tint_layer">
          <%= link_to "herro", post, id: "post_link", class: "ajax_button_check", style: "display:none;", remote: true%>
          <h2 class="<%= cycle('hero_title','mini_title','mini_title','long_title','hero_title','mini_title','mini_title','mini_title','mini_title','mini_title','mini_title','long_title','mini_title','mini_title','hero_title','mini_title','mini_title','mini_title','mini_title','hero_title','mini_title','mini_title', name: 'title') %>" id="home_post_title"><%= post.title %></h2>
          <div class="<%= cycle('hero_author','mini_author','mini_author','long_author','hero_author','mini_author','mini_author','mini_author','mini_author','mini_author','mini_author','long_author','mini_author','mini_author','hero_author','mini_author','mini_author','mini_author','mini_author','hero_author','mini_author','mini_author', name: 'author') %>" id="home_post_author">By <%= post.author %></div>
          <paper-ripple fit></paper-ripple>
        </div>
      </paper-shadow></div>
    </div>

