  <%= link_to(post) do %>
    <div class="<%= nm =cycle('hero','mini_hero','mini_hero','long_hero','hero_2','mini_hero_3','mini_hero_4','mini_hero_5','mini_hero_6','mini_hero_7','mini_hero_8','long_hero_2','mini_hero_9','mini_hero_10','hero_3','mini_hero_11','mini_hero_12','mini_hero_13','mini_hero_14','hero_4','mini_hero_15','mini_hero_16', name: 'box') %>" vertical layout>
      <% if ((nm == 'long_hero') || (nm == 'long_hero_2')) %>
        <div class="innerds" style="background-image: url('<%= post.image_url(:long_headline) %>');" vertical layout flex><paper-shadow z="2" animated>
      <% else %>
        <div class="innerds" style="background-image: url('<%= post.image_url(:headline) %>');" vertical layout flex><paper-shadow z="2" animated>
      <% end %>
        <div class="tint_layer">
          <h2 class="<%= cycle('hero_title','mini_title','mini_title','long_title','hero_title','mini_title','mini_title','mini_title','mini_title','mini_title','mini_title','long_title','mini_title','mini_title','hero_title','mini_title','mini_title','mini_title','mini_title','hero_title','mini_title','mini_title', name: 'title') %>"><%= post.title %></h2>
          <div class="<%= cycle('hero_author','mini_author','mini_author','long_author','hero_author','mini_author','mini_author','mini_author','mini_author','mini_author','mini_author','long_author','mini_author','mini_author','hero_author','mini_author','mini_author','mini_author','mini_author','hero_author','mini_author','mini_author', name: 'author') %>">By <%= post.author %></div>
          <paper-ripple fit></paper-ripple>
        </div>
      </paper-shadow></div>
    </div>
  <% end %>