<div class="share-buttons layout horizontal flex center-justified">
	<div class="tweet-button">
		<% if @post %>
			<a href="https://twitter.com/intent/tweet?text=<%= @post.title + " " + root_url + "posts/" + @post.slug %>;via=while_true0" data-lang="en" data-url="<%= request.original_url %>" class="tweet_text" >Tweet</a>				
		<% else %>
			<a href="https://twitter.com/intent/tweet?text=<%= post.title + " " + root_url + "posts/" + post.slug %>;via=while_true0" data-lang="en" data-url="<%= root_url + "posts/" + post.id.to_s %>" class="tweet_text" >Tweet</a>		
		<% end %>
	</div>

	<div class="fshare-button">
		<% if @post %>
			<div href="https://www.facebook.com/sharer.php?u=<%= request.original_url %>" class="facebook_text">Share</div>
		<% else %>
			<div href="https://www.facebook.com/sharer.php?u=<%= root_url + 'posts/' + post.slug %>" class="facebook_text">Share</div>		
		<% end %>
	</div>

	<div class="gshare-button">
		<% if @post %>	
			<div href="https://plus.google.com/share?url=<%= request.original_url %>" class="gplus_text">Share</div>
		<% else %>
			<div href="https://plus.google.com/share?url=<%= root_url + "posts/" + post.slug %>" class="gplus_text">Share</div>
		<% end %>
	</div>
</div>