<% content_for :title, "While True" %>

<% content_for	:head do %>
	<meta name="description" content="While True is a technology news site that covers the latest in technology trends to keep you informed in your connected world.">
<% end %>

<div id="notice">
    <paper-toast id="notice-toast" text="<%= notice %>" style="z-index: 13;" class="fit-bottom layout horizontal center-center"></paper-toast>
</div>

<% if notice %>
	<paper-toast id="page-notice-toast" duration="6000" text="<%= notice %>" style="z-index: 13;" class="fit-bottom layout horizontal center-center"></paper-toast>
<% end %>
<paper-dialog id="new_session_overlay" with-backdrop entry-animation="scale-up-animation" exit-animation="scale-down-animation">

	<paper-tabs selected="0" id="paperTabs">
		<paper-tab id="one">LOGIN</paper-tab>
		<paper-tab id="two">SIGN UP</paper-tab>
	</paper-tabs>

	<neon-animated-pages id="baluga" selected="0" class="flex" entry-animation="slide-from-right-animation" exit-animation="slide-left-animation" style="height:300px;">
		<neon-animatable>
			<%= render "sessions/login"  %>
			<div id="forgot_password" class="layout flex horizontal center-justified">Forget?</div>
		</neon-animatable>

		<neon-animatable>
			<%= render "users/form" %>
		</neon-animatable>
	</neon-animated-pages>
</paper-dialog>

<%= render "sessions/forgot" %>

<paper-dialog id="overlay2" with-backdrop entry-animation="scale-up-animation" exit-animation="scale-down-animation" style="width:275px;">
	<div id="user_overlay">
		<% if @user != nil %>
			<%= render "users/show" %>
		<% end %>
	</div>
</paper-dialog>


<% if @user != nil and @user.administrator %>
	<paper-fab icon="add" id="new-post-fab" style="z-index:10;"></paper-fab>
<% end %>

<home-toolbar image="<%= image_url 'penrose.png' %>" >
	<session-info>
		<% if @user != nil %>
			<% if @user.image_url == nil %>
				<iron-image class="homepage-avatar" src="<%= image_url 'default_pic.png'  %>" preload fade sizing="contain"></iron-image>
			<% else %>
				<iron-image class="homepage-avatar" src="<%= @user.image_url(:avatar) %>" preload fade sizing="contain"></iron-image>
			<% end %>
			<paper-button id="usernames" class="layout vertical center-justified"><%= @user.username %></paper-button>
			<paper-button><%= button_to 'Logout', logout_path, { id: "logout_button", method: :delete } %></paper-button>
		<% else %>
			<paper-button id="login_button">Login</paper-button>
				<span class="home-pipe">|</span>
			<paper-button id="signup_button">signup</paper-button>
		<% end %>
	</session-info>
</home-toolbar>

<template is="dom-bind">
	<neon-animated-pages selected="0" on-tile-click="_onTileClick" id="pages">
		<animated-grid style="position:relative;">
			<% @posts.each do |post| %>
				<% if Random.rand(2) == 0 %>
					<hero-post-card class="grid-item <%= post.id %>" title="<%= post.title %>" author="<%= post.author %>" image="<%= post.image_url %>"  postid="<%= post.id %>"></hero-post-card>
				<% else %>
					<long-post-card class="grid-item <%= post.id %>" title="<%= post.title %>" author="<%= post.author %>" image="<%= post.image_url %>"  postid="<%= post.id %>"></long-post-card>	
				<% end %>
			<% end %>	
		</animated-grid>

		<% @posts.each do |post| %>
			<show-post postid="<%= post.id %>" class="fixed-top" id="<%= post.id %>" image="<%= post.image_url %>"><%= render post %></show-post>
		<% end %>
	</neon-animated-pages>
</template>


<div id="posts_pagination">
	<%= paginate @posts %>
</div>

<about-section>
	<div id="follow_block">
		<h1 id="follow_title">Follow Us</h1>
		<paper-icon-button src="<%= image_url 'facebook2.png' %>" id="about_facebook"></paper-icon-button>
		<paper-icon-button src="<%= image_url 'twitter-icon.svg' %>" id="about_twitter"></paper-icon-button>
		<paper-icon-button src="<%= image_url 'gp.png' %>" id="about_gp"></paper-icon-button>
	</div>
	<iron-image id="footer_icon" src="<%= image_url 'penrose_icon.png'  %>" preload fade sizing="contain"></iron-image>
</about-section>