<div id="home">
    <% @posts.each do |post| %>
        <div class="homepage">
        <h2><%= link_to post.title, post, { :class => "post_title" }  %></h2>
     <i><h4 class="index_author_date"><%= post.author %> | <%= post.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %e at %l:%M%P") %></h4></i><hr size="5" width=95% noshade color=#E7E6E7>
    <p><%= truncate(strip_tags(post.content), length: 150) %></p>
        <%= image_tag post.image_url(:thumb) %>
      

      <% if false %>
         <td><%= post.subtitle %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </div>
    <% end %>
</div>

<br>

<%= link_to 'New Post', new_post_path %>
