<% content_for :title, @post.title %>

<style shim-shadowdom>    
  core-scroll-header-panel::shadow #headerBg {
    background-image: url('<%= @post.image_url %>');
  }
    core-scroll-header-panel::shadow #condensedHeaderBg {
      background-color: black;
    }
</style>


  <core-scroll-header-panel condenses condensedHeaderHeight="70">

    <core-toolbar>
      <core-icon-button icon="arrow-back" center-justified center size="35" onclick="goBack()"></core-icon-button>
      <div flex></div>
      <core-icon-button icon="create" center-justified center size="35" onclick="editPost()"></core-icon-button>
      <core-icon-button icon="clear" center-justified center size="35" onclick="deletePost()"><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></core-icon-button>
      <% if request.env['HTTP_USER_AGENT'].downcase.match(/iphone|android/) %>
        <div flex class="bottom" id="the_title" self-end>
          <div class="title"><%= @post.title %></div>
        </div>
      <% else %>
        <div flex class="bottom indent" id="the_title" self-end style="color: rgb(240,241,225);">
          <div class="sub">By <%= @post.author %> | <%= @post.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %e at %l:%M%P") %></div>
          <div class="title"><%= @post.title %></div>
        </div>
      <% end %>
    </core-toolbar>

    <div id="show_post_cnt" class="content">
      <div class="redactor_textt">
        <% if notice %>
          <paper-toast id="toast1" class="capsule" text="<%= notice %>" style="padding-right: 60px;" duration="10000" opened responsiveWidth="300px" style="color: #eeff41;"></paper-toast>
        <% end %>
        <%= raw @post.content %>
      </div>
    </div>
    
  </core-scroll-header-panel>



    <script>
  
    // custom transformation: scale header's title
    var titleStyle = document.querySelector('.title').style;
    addEventListener('core-header-transform', function(e) {
      var d = e.detail;
      // console.log(d);
      var m = d.height - d.condensedHeight;
      // console.log(m);
      var scale = Math.max(0.75, (m - d.y) / (m / 0.25)  + 0.75);
      titleStyle.webkitTransform = titleStyle.transform = 
          'scale(' + scale + ') translateZ(0)';
      var shadow = (1 - d.y/d.height).toFixed(2);
      var shadowstring = "rgba(0,0,0,"+shadow+") 5px 5px 10px";
      $('.title').css('text-shadow', shadowstring);
      $('.sub').css('opacity', shadow);
    });  

    function goBack() {
        window.open("<%= posts_path %>", "_self");
    }

    function editPost() {
      window.open("<%= edit_post_path(@post) %>", "_self");
    }

    function deletePost() {
      if(confirm('Are you sure?')) {
        window.open("<%= posts_path %>", "_self");
      }
    }
</script>
<script>

  // var image = new Image();
  // image.src = "<%= @post.image_url %>";
  // var colorThief = new ColorThief();
  // var color =colorThief.getColor(image);
  // var red = color[0];
  // var green = color[1];
  // var blue = color[2];
  // var domrgb = "rgb(" +red + "," + green + "," + blue + ")";

  // var css= 'core-scroll-header-panel::shadow #condensedHeaderBg { background-color: '+ domrgb +'; }', head= document.head || document.getElementByTagName('head')[0], style = document.createElement('style');
  // style.type = 'text/css';
  // if (style.styleSheet){
  //   style.styleSheet.cssText = css;
  // } else {
  //   style.appendChild(document.createTextNode(css));
  // }
  // head.appendChild(style);

  // var pal =  colorThief.getPalette(image, 7);
  // // console.log(pal);
  // var sixthpal = pal[5];
  // console.log(sixthpal)
  // var sixthpalcolor = "rgb(" + (255-sixthpal[0]) + ","+(255-sixthpal[1]) +"," +(255-sixthpal[2]) +")";
  // var title = document.getElementById("the_title");
  // title.style.color = sixthpalcolor;

</script>